<div class="container-fluid p-0 m-0" [@fadeAnimation]>
    <app-header 
  (menuToggled)="toggle()"
  [suggestions]="$any(suggestions$ | async)"
  (autoComplete)="onAutoComplete($event)"
  (searched)="onSearch($event)"
  (filtered)="onFilter($event)"
  ></app-header>
  
  <div class="container-fluid p-0 m-0">
    <div class="titre-page" class="col-xs-12 box box-primary titre-page p-3" style="margin-bottom: 0">
                              
      <span class="titre">Trouvez un club près de chez vous</span>
      
  </div>
    <div class="row p-0 m-0 container-fluid">
      <div id="vmap" class="col-sm-12 col-md-12 col-lg-9 border-right-1 p-0 m-0" style="height: 600px; position: relative; overflow: hidden; background-color: rgb(255, 255, 255);"></div>
      <div class="col-lg-3 p-2">
        <ng-container *ngIf="!isLoading && !isServer; else loadingTemplate">
          <div class="d-flex flex-column gap-2 overflow-hidden" *ngIf="clubs?.numberOfElements; else emptyTemplate">
      	  
            <div class="section">
                <span id="ctl00_MainContent__lbInfoListe" style="font-size: 20px">Liste des clubs affiliés FFKMDA</span>
            </div>
		
              <div class="col-lg-12 p-0 m-0" *ngFor="let club of clubs.data | paginate: { itemsPerPage: 5, currentPage: p, totalItems: total }">
              
                  <div class="card">
                  <h5 class="card-header text-truncate " [routerLink]="['./', club?.code]" style="cursor: pointer;">{{club?.nom}}</h5>
                  <div class="card-body">
                    <!-- <h5 class="card-title">type : {{club?.type}} | code: {{club?.code}}</h5> -->
                    <p class="card-text text-elepsis font-weight-500 text-uppercase">
                      <i class="fa fa-map-marker mr-15"></i>
                      {{club?.siege?.adresse_complete}}
                    </p>
                    <!-- <p class="card-text">
                    <i class="fa fa-envelope-o mr-15"></i>
                      {{club?.siege?.mail}}
                    </p> -->
                    <p class="card-text">
                      <i class="fa fa-phone mr-15"></i>
                      {{club?.siege?.mobile}} &nbsp;&nbsp;  
                      <span *ngIf="club?.siege?.tel">
                        | &nbsp;&nbsp;
                        <i class="fa fa-phone mr-15"></i>
                      {{club?.siege?.tel}}
                      </span>
  
                      <span *ngIf="club?.siege?.mobile">
                        | &nbsp;&nbsp;
                        <i class="fa fa-mobile mr-15"></i>
                      {{club?.siege?.mobile}}
                      </span>
  
                      <span *ngIf="club?.siege?.mobile2">
                        | &nbsp;&nbsp;
                        <i class="fa fa-mobile mr-15"></i>
                      {{club?.siege?.mobile2}}
                      </span>
  
                    </p>
                    <a class="card-text" *ngIf="club?.siege?.web" href="{{club?.siege?.web}}" target="_blank">
                      <i class="fa fa-globe mr-15"></i>
                      {{club?.siege?.web}}
                    </a>
                    <br>
                    <a class="card-text" *ngIf="club?.siege?.facebook" href="{{club?.siege?.facebook}}" target="_blank">
                      <i class="fa fa-facebook mr-15"></i>
                      {{club?.siege?.facebook}}
                    </a>
                    
                  </div>
                </div>
              </div>
  
              <div class="pagination-footer" style="margin-top: 0">
                
                <pagination-controls 
                  (pageChange)="p = $event"
  
                  previousLabel="Précédente"
                  nextLabel="Suivante"
                  screenReaderPaginationLabel="Pagination"
                  screenReaderPageLabel="page"
                  screenReaderCurrentLabel="You're on page"
                
                ></pagination-controls>
  
              </div>
  
              
            </div>
      
           
        </ng-container> 
        
    
      </div>
    </div>
   
  </div>
  
  </div>
  <ng-template #loadingTemplate>
    <div class="d-flex flex-column gap-2">
      <app-club-card-loader *ngFor="let loader of items"></app-club-card-loader>
    </div>
  </ng-template>
  
  <ng-template #emptyTemplate>
    <div class="empty-data border ">
      <span class="empty-data-icon">
        <!-- <i class="far fa-folder-open"></i> -->
        <div class="flex justify-center mt-10">
          <div class="flex flex-col items-center">
          </div>
        </div>
      </span>
      
      <span class="empty-data-message">Pas de Clubs .</span>
      <span class="empty-data-extras">
      </span>
    </div>
  </ng-template>
  
  
  <app-drawer>
  </app-drawer>
  