<div class="container-fluid p-0 m-0">
  <app-header 
(menuToggled)="toggle()"
[suggestions]="$any(suggestions$ | async)"
(autoComplete)="onAutoComplete($event)"
(searched)="onSearch($event)"
(filtered)="onFilter($event)"

></app-header>

<div class="container-fluid p-0 m-0">
  <div class="titre-page" class="col-xs-12 box box-primary titre-page p-3" style="margin-bottom: 0">
                            
    <span class="titre">Trouvez un club près de chez vous</span>
    
</div>
  <div class="row p-0 m-0 container-fluid">
    <div id="vmap" class="col-lg-9 border-right-1" style="height: 600px; position: relative; overflow: hidden; background-color: rgb(255, 255, 255);"></div>
    <div class="col-lg-3">
      <ng-container *ngIf="!isLoading && !isServer; else loadingTemplate">
        <div class="d-flex flex-column gap-2 overflow-hidden" *ngIf="clubs?.numberOfElements; else emptyTemplate">
      
          <div class="section">
              <span id="ctl00_MainContent__lbInfoListe" style="font-size: 20px">Liste des clubs affiliés FFKMDA</span>
          </div>

            <div class="col-lg-12 p-0 m-0" *ngFor="let club of clubs?.data">
            
                <div class="card">
                <h5 class="card-header text-truncate">{{club?.nom}}</h5>
                <div class="card-body">
                  <h5 class="card-title">type : {{club?.type}} | code: {{club?.code}}</h5>
                  <p class="card-text text-truncate">A. {{club?.siege?.adresse_complete}}</p>
                  <p class="card-text">E. {{club?.siege?.mail}}</p>
                  <p class="card-text">M. {{club?.siege?.mobile}} | T. {{club?.siege?.tel}}</p>
                  <p class="card-text">W. {{club?.siege?.web}}</p>
                  <a href="#" class="btn btn-primary" *ngIf="club?.siege?.web">Go somewhere</a>
                </div>
              </div>
            </div>

            <div class="pagination-footer" style="margin-top: 0">
              
              <app-paginator
                  [page]="clubs"
                  (onNextPage)="onGoToPage($event)"
                  (onPreviousPage)="onGoToPage($event)"
                  (onGoToPage)="onGoToPage($event)">
              </app-paginator>
            </div>

            
          </div>
    
         
      </ng-container> 
      
  
    </div>
  </div>
 
</div>

</div>
<ng-template #loadingTemplate>
  <div class="d-flex flex-column gap-2">
    <app-club-card-loader *ngFor="let loader of items"></app-club-card-loader>
  </div>
</ng-template>

<ng-template #emptyTemplate>
  <div class="empty-data border ">
    <span class="empty-data-icon">
      <!-- <i class="far fa-folder-open"></i> -->
      <div class="flex justify-center mt-10">
        <div class="flex flex-col items-center">
        </div>
      </div>
    </span>
    <span class="empty-data-message">No data</span>
    <span class="empty-data-extras">
    </span>
  </div>
</ng-template>
