<div class="movie--isloading">
  <div class="loading-image">
    <!-- SVG Logo -->
    <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
      <text x="50%" y="50%" text-anchor="middle" alignment-baseline="middle" font-size="70" font-family="fantasy" fill="#ddd">FFKMDA</text>
    </svg>
  </div>
  <div class="loading-content">
    <div class="loading-text-container">
      <div class="loading-main-text"></div>
      <div class="loading-sub-text"></div>
    </div>
   
  </div>
</div>
