

<header class="p-0 m-0">
    <div class="row" >
      <a class="col-lg-4 center" >
        <img src="assets/logo.png" alt="ffkmda-logo">
      </a>
  
      <div class="search-container col-sm-12 col-md-12 col-lg-8">
        <form class="w-100 me-3 position-relative" role="search">
          
          <input 
          class="search-input" 
          placeholder="Trouver un club..." 
          aria-label="Search"
          type="text"
          name="search"
          id="search"
          autocomplete="off"
          (keyup)="autoCompleteSubject.next(searchRef.value)"
          (keyup.enter)="
            searched.emit(searchRef.value); suggestionsVisibleSubject.next(false)
          "
          (focus)="suggestionsVisibleSubject.next(true)"
          #searchRef
          >

        </form>
  
      </div>
    </div>
  </header>
  
  
  